python-dateutil

faster-whisper==1.0.2
pvporcupine==1.9.5
webrtcvad==2.0.10
halo==0.0.31
scipy==1.13.0
websockets==v12.0

requests==2.32.3
pyttsx3==2.90
stream2sentence==0.2.3
azure-cognitiveservices-speech==1.37.0
elevenlabs==1.2.2
tqdm==4.66.4
pydub==0.25.1
openai==1.30.5
gtts==2.5.1
coqui_tts==0.24.1
